$lightGreen: #b9e7e7;

.app {
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    padding: 10px 200px;
    // background-color: $lightGreen;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //Login & Register

    .auth {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      height: 100vh;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        gap: 20px;
        width: 300px;
        background-color: #fff;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: #fff;
        }

        p {
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          color: red;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    p {
      margin-bottom: 20px;
    }

    //NAVBAR

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 80px;
            height: 80px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            text-decoration: none;
            color: #fff;
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    //FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      justify-content: space-between;
      img {
        width: 80px;
        height: 80px;
      }
    }

    //HOME
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }
          .img {
            flex: 2;
            position: relative;

            &:after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              min-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .link {
              h1 {
                color: #000;
                font-size: 48px;
              }

              p {
                font-size: 18px;
              }
            }
            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: hwhite;
              border: 1px solid teal;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightGreen;
                color: black;
              }
            }
          }
        }
      }
    }

    //SINGLE
    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          margin: 20px 0px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
          .info {
            display: flex;
            flex-direction: column;
            span {
              font-weight: bold;
            }
            p {
              margin: 0px;
              padding: 0px;
            }
          }
          .edit {
            display: flex;
            gap: 5px;

            img {
              width: 25px;
              height: 25px;
              cursor: pointer;
            }
          }
        }
        h1 {
          color: #333;
          font-size: 42px;
        }

        p {
          text-align: justify;
          line-height: 30px;
          font-weight: 600;
          margin: 20px 0px;
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
          border-top: 2px solid #000;
          border-bottom: 2px solid #000;
          padding: 5px;
          text-align: center;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: #ededed;
          padding: 10px;

          img {
            width: 100%;
            height: 150px;
            object-fit: cover;
          }

          h2 {
            color: #555;
            font-size: 15px;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 20px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: teal;
              background-color: #fff;
              border: 1px solid teal;
              padding: 3px 5px;
            }
            :last-child {
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
  }
}
